<textarea id="editor"></textarea>
<button id="compile_btn"> Compile </button>
<%# <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        mode: "python",
        theme: "darcula",
        lineNumbers: true,
        autoCloseTags: true
    });
    // editor.setSize("250", "150");
    // var textInEditor = editor.getValue();
    // console.log(textInEditor);
</script> %>